# ==============================================================================
# DOTA 2.0 Custom Google Drive IDs
# ==============================================================================
# Insert ONLY the file ID here, not the full URL!
# Example:
# If URL is:  https://drive.google.com/file/d/1XDWNx3FkH9layL8jVUkEHJ_-CY8K4zse/view?usp=drive_link
# Then ID is: 1XDWNx3FkH9layL8jVUkEHJ_-CY8K4zse

# Training set
DOTA_2_TRAIN_IMG_PART1=""
DOTA_2_TRAIN_LBL=""

# Validation set
DOTA_2_VAL_IMG=""
DOTA_2_VAL_LBL=""
